main {
    position: relative;
    border: 4px solid lightgrey;
    width: calc(100% - 80px);
}

main .dier {
    float: left;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
}

main img {
    max-width: 150px;
}

main p {
    width: fit-content;
}
