header {
    position: relative;
    border: 2px solid grey;
    margin: 20px 0;
    width: calc(100% - 40px);
    display: flex;
}

header a {
    padding: 20px calc(100% / 15);
    color: black;
    text-decoration: none;
}

header .menu-active {
    background-color: lightgrey;
}
