/* FireLoot - ©Arthurdw */
:root {
  --back-color: #212121;
  --back-light-color: #353535;
  --fore-color: #ffffff;
  --golden: rgb(255, 230, 7);
}

body {
  margin: 0;
  padding: 0;
  color: var(--fore-color);
  background-color: var(--back-color);
  font-family: "Balsamiq Sans", cursive;
}

header {
  height: 50px;
  background-color: #404040;
  z-index: 100000;
  display: block;
  position: fixed;
  width: 100vw;
}

#ico {
  float: left;
}

#HeaderIcon {
  float: left;
  margin: 5px;
  height: 40px;
}

#SiteText {
  float: left;
  width: fit-content;
  color: var(--fore-color);
  font-size: 25px;
  margin: 9.5px 0;
}

#games {
  float: left;
  margin-left: 10px;
}

.GameSectionIcon {
  width: 50px;
  height: 50px;
  float: left;
}

.GameSectionIcon img {
  height: 30px;
  padding: 10px;
  opacity: 0.5;
  margin: 0 auto;
  object-fit: cover;
  transition: opacity 0.1s ease-in-out;
}

.GameSectionIcon img:hover {
  opacity: 1;
}

#GameSectionActiveIcon {
  opacity: 1 !important;
  background-color: var(--back-light-color);
}

#RecentBar {
  height: calc(100vh - 50px);
  width: 153.5px;
  background-color: var(--back-light-color);
  float: left;
  display: block;
  position: fixed;
  top: 50px;
}

.RecentBarItem {
  margin: 5px;
  width: 143.5px;
  height: 143.5px;
  border: 1px solid;
  border-radius: 5px;
  background-color: var(--back-color);
}

.StatTrack {
  color: rgb(255, 132, 66);
}

.WearText {
  width: 50%;
  margin: 5px;
  float: right;
  text-align: right;
  font-size: smaller;
  font-weight: bolder;
  color: rgb(200, 200, 200);
  z-index: 45600;
}

.RecentBarItemImage {
  margin-top: 10px;
  margin-left: 15px;
  width: 125px;
  height: 125px;
  position: absolute;
  z-index: 45000;
}

.RecentBarItemIcon {
  z-index: 45500;
  width: 40px;
  height: 40px;
  padding: 5px;
  position: absolute;
}

.RecentBarItemNameSubHolder {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.RecentBarItemNameHolder {
  height: 100%;
  position: relative;
}

.RecentBarItemName {
  margin: 0;
}

.CaseSection {
  margin-top: 10px;
  position: absolute;
  left: 155px;
  top: 50px;
  height: fit-content;
  /* width: calc(100vw - 155px); */
}

.CaseSectionDistributer {
  width: 90%;
  margin: 0 auto;
  height: fit-content;
}

.CaseSectionTitle {
  margin: 10px 10px 0 10px;
  width: fit-content;
}

.CaseSectionDescription {
  float: left;
  font-size: smaller;
  opacity: 0.5;
  margin: 0 10px 10px 10px;
}

.CaseSectionCaseDistributor {
  float: left;
  width: 100%;
  height: 50px;
}

.CaseSectionCase {
  float: left;
  padding: 5px;
  margin: 25px 5px 5px 5px;
  width: 205px;
  height: 235px;
  border: 1px solid rgba(53, 53, 53, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.CaseSectionCase:hover {
  border-color: var(--back-color);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.CaseSectionCaseTitle,
.CaseSectionCasePrice {
  margin: 0;
  width: 100%;
  text-align: center;
}

.CaseSectionCaseTitle {
  margin: 0 5px 10px 0;
  height: 38px;
}

.CaseSectionCasePrice::before {
  content: "$ ";
  color: rgb(43, 255, 78);
}

.CaseSectionCase img {
  width: 204px;
  height: 152px;
}

.CaseSectionCaseURL {
  height: 247px !important;
  width: 217px !important;
  color: var(--fore-color);
}

#PageNotFound {
  position: absolute;
  top: 50px;
  left: 20px;
  color: var(--fore-color);
}

#PageNotFound h1 {
  margin-bottom: 0;
}

#PageNotFound h2 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 30px;
}

#PageNotFound a {
  color: var(--fore-color);
  text-decoration: none;
  font-size: 20px;
  transition: color 0.1s ease-in-out;
}

#PageNotFound a:hover {
  color: #ff6026;
  text-decoration: underline;
}

.red {
  color: #ff4336 !important;
}

#MainCaseContent {
  position: absolute;
  top: 50px;
  left: 153.5px;
}

#CurrentPath {
  margin: 20px;
}

#CurrentPath span {
  opacity: 0.7;
}

#CurrentPath a,
#CurrentPath span a {
  color: var(--fore-color);
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.03s ease-in-out;
}

#CurrentPath a:hover,
#CurrentPath span a:hover {
  opacity: 1;
}

#MainCaseContent h1,
#MainCaseContent h2 {
  text-align: center;
  width: calc(100vw - 175px);
  font-size: x-large;
}

#MainCaseContent h2 {
  font-size: large;
  margin-top: 50px;
}

#CaseOpener {
  margin: 10px auto;
  height: 210px;
  width: 800px;
  background-color: var(--back-light-color);
  border-radius: 10px;
  padding: 10px;
}

#CaseContainsContainer {
  width: calc(100vw - 175px);
  height: 600px;
}

#CaseContains {
  margin: 0 auto;
  height: 10px;
  width: 740px;
}

@media all and (min-width: 1400px) {
  #CaseContains {
    width: 925px;
  }
}

.CaseSkin {
  float: left;
  width: 150px;
  height: 150px;
  background-color: var(--back-light-color);
  margin: 5px;
  padding: 0px 10px 10px 15px;
  border-radius: 5px;
  z-index: 35000;
}

.rarity {
  position: absolute;
  height: 160px;
  width: 4px;
  margin-left: -15px;
}

.CaseSkin img {
  width: 150px;
  object-fit: cover;
}

.CaseSkin p {
  margin: 0;
}

.SmallerCaseSkin {
    width: 125px;
    background-color: var(--back-color);
}

.SmallerCaseSkin img {
    width: 125px;
}

#OpenCase {
    width: 100%;
    position: relative;
}

#OpenCase button {
    position: absolute;
    left: calc(50% - 46px);
    top: 178px;
    background-color: var(--back-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--fore-color)
}

#WinnerPicker, #WinnerPicker::after {
    position: absolute;
}

#WinnerPicker {
    width: 2px;
    height: 170px;
    left: 50%;
    z-index: 99000;
    
    /* background-color: var(--golden); */
}

#WinnerPicker::after {
    top: 3px;
    content: "";
    width: 150px;
    height: 160px;
    border: 2px solid var(--golden);
    left: calc(50% - 78px);
    border-radius: 5px;
}
