#submit {
    padding: 3px;
    margin: 5px;
    margin-left: 0;
    margin-bottom: -15px;
}

.content {
    border: solid 1px black;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}

.content h1 {
    padding: 0;
    margin: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.input-field {
    width: 100%;
}

.required::after {
    content: "*";
    color: red;
}
