/* ©Arthurdw - GO-AO */
#root {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

#root div {
    float: left;
    width: 48px;
    height: 48px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

body p {
    text-align: center;
}