#card {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background-image: linear-gradient(to bottom right, #FF9A00, #FF4D00)
}

.pic, #card {
    border: 10px #FFC100 solid;
    border-radius: 20px;
}

.pic {
    max-width: 400px;
}

.picture {
    position: relative;
}

.astr_logo {
    position: absolute;
    top: -70px;
    left: 0px;
    max-width: 100px;
}

h1 {
    margin-top: 10px;
    color: white;
    font-size: 40px;
}

.star_icon {
    margin-top: -30px;
    max-width: 30px;
}

.major_wins_stars {
    margin-top: -15px;
}

.information {
    margin-top: 20px;
    max-width: 400px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.info_question {
    float: left;
}

.info_answer {
    float: right;
}

p {
    margin: 20px;
    padding: 5px;
    font-size: 25px;
}

.desc_text {
    font-size: 20px;
    text-align: justify;
}

hr {
    margin-top: -15px;
}